bin
target
.settings
.project
.classpath
.svn

*.class
*.jar

*.iml
.idea/

/out
/.idea/ant.xml
/.idea/uiDesigner.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/libraries/Maven*.xml
/.idea/artifacts/*.xml
/*.iws
/logs/
tree.txt
*/.DS_Store
.DS_Store
